<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
  </head>
  <body>
    <table style="background-color: #f1f1e6; line-height: 1.5em; width: 100%">
      <tbody>
        <tr>
          <td style="padding-top: 2em"></td>
        </tr>
        <tr>
          <td>
            <table
              style="
                background-color: #fff;
                margin: 0 auto;
                min-width: 320px;
                width: 75%;
              "
            >
              <tbody>
                <tr>
                  <td style="padding: 2em; text-align: right">
                    <img
                      src="http://static.iep.kalis.ovh/iepioe-logo-blank.png"
                      style="width: 4em"
                    />
                  </td>
                </tr>
                <tr>
                  <td style="padding: 2em 0.5em">
                    <span>Otrzymują: Członkowie Izby</span>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0.5em">
                    <h1
                      style="color: #4883a5; font-size: 2em; font-weight: bold"
                    >
                      Media
                    </h1>
                  </td>
                </tr>
                {% for article in body %}
                <tr>
                  <td style="padding: 2em 0.5em">
                    <h2>
                      <a
                        href="{{ article.url }}"
                        style="
                          color: #4883a5;
                          font-size: 1.25em;
                          font-weight: bold;
                          text-decoration: none;
                        "
                        >{{ article.title }}</a
                      >
                    </h2>
                    <br /><br />
                    <span>{{ article.description }} </span>
                  </td>
                </tr>
                <tr>
                  <td style="padding: 0 0.5em 2em 0.5em; text-align: right">
                    <a
                      href="{{ article.url }}"
                      style="
                        background-color: #eb9929;
                        border-color: #eb9929;
                        border-radius: 2px;
                        border-style: solid;
                        border-width: 1px;
                        padding: 0.5em;
                        color: #fff;
                        text-decoration: none;
                      "
                      >Czytaj dalej &#x25B8;</a
                    >
                  </td>
                </tr>
                {% endfor %}
                <tr>
                  <td style="padding: 2em; text-align: right">
                    Z poważaniem,<br />Biuro Izby
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td style="padding-top: 2em"></td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
